* {
  margin: 0;
  padding: 0;
  font-family: Be Vietnam Pro;
  font-style: normal;
}

body {
  background: var(--white-97, #F7F7F8);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1860px;
  margin: 0 auto;
  padding: 0 16px;
}

.container_2 {
  width: 100%;
  max-width: 1596px;
  margin: 0 auto;
  padding: 0 16px;
}

.header .header__top {
  display: flex;
  justify-content: center;
  gap: 23px;
  padding: 14px;
  border-radius: 8px;
  background: var(--orange-50, #ff9500);
}
.header .header__top a {
  color: var(--absolute-white, #fff);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.header .header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 132px;
}
.header .header__bottom .header__bottom_start {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header .header__bottom .header__bottom_start a {
  color: var(--grey-15, #262626);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.header .header__bottom .header__bottom_start a:hover {
  background-color: #ff9500;
}
.header .header__bottom .header__bottom_end {
  display: flex;
  gap: 30px;
}
.header .header__bottom .header__bottom_end button {
  border: none;
  color: var(--grey-15, #262626);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.header .header__bottom .header__bottom_end .header__bottom_end_btn {
  color: var(--grey-15, #fff);
  padding: 14px 34px;
  border-radius: 8px;
  background: var(--orange-50, #ff9500);
}
.header .header__bottom .header__bottom_end .header__bottom_end_btn1 {
  padding: 14px 34px;
  border-radius: 8px;
}

.hero {
  display: flex;
  gap: 100px;
  margin-top: 109px;
  margin-bottom: 150px;
}
.hero .hero_left h1 {
  color: var(--grey-15, #262626);
  width: 748px;
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
}
.hero .hero_right {
  width: 748px;
}
.hero .hero_right p {
  color: var(--grey-35, #59595a);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame .frame_button {
  display: flex;
  padding: 12px;
  align-items: center;
  border-radius: 8px;
  background: var(--absolute-white, #fff);
  width: 272px;
}
.frame .frame_button button {
  border: none;
  color: var(--grey-15, #262626);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.frame .frame_button .frame_button_btn {
  color: var(--grey-15, #fff);
  padding: 14px 34px;
  border-radius: 8px;
  background: var(--orange-50, #ff9500);
}
.frame .frame_button .frame_button_btn1 {
  padding: 14px 34px;
  border-radius: 8px;
  background-color: #fff;
}
.frame .frame_card {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  margin-top: 50px;
  border-radius: 12px;
  background: var(--absolute-white, #fff);
  gap: 30px;
}
.frame .frame_card .frame_card_1 {
  display: flex;
  padding: 50px 30px 30px 30px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  border-radius: 12px;
  border: 1px solid var(--white-95, #f1f1f3);
  background: var(--white-99, #fcfcfd);
}
.frame .frame_card .frame_card_1 .frame_card_head {
  display: flex;
  padding: 12px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--orange-90, #ffeacc);
  background: var(--orange-97, #fff9f0);
}
.frame .frame_card .frame_card_1 .frame_card_head h4 {
  color: var(--grey-15, #262626);
  font-size: 22px;
  font-weight: 500;
  line-height: 169%;
}
.frame .frame_card .frame_card_1 .frame_card_sum {
  display: flex;
}
.frame .frame_card .frame_card_1 .frame_card_sum h1 {
  color: var(--grey-15, #262626);
  font-size: 80px;
  font-weight: 600;
  line-height: 73%;
}
.frame .frame_card .frame_card_1 .frame_card_sum p {
  margin-top: 50px;
  color: var(--grey-30, #4c4c4d);
  font-size: 20px;
  font-weight: 500;
  line-height: 73%;
}
.frame .frame_card .frame_card_1 .frame_card_hero {
  padding: 40px;
  border-radius: 14px 14px 0px 0px;
  border: 1px solid var(--white-95, #f1f1f3);
  background: var(--absolute-white, #fff);
}
.frame .frame_card .frame_card_1 .frame_card_hero h4 {
  color: var(--grey-15, #262626);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 30px;
}
.frame .frame_card .frame_card_1 .frame_card_hero .frame_card_hero_item p {
  color: var(--grey-30, #4c4c4d);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.frame .frame_card .frame_card_1 .frame_card_hero .frame_card_hero_item div {
  width: 503.5px;
  display: flex;
  padding: 14px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid var(--white-95, #f1f1f3);
}
.frame .frame_card .frame_card_1 button {
  display: flex;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 0px 0px 8px 8px;
  background: var(--orange-50, #ff9500);
  border: none;
  color: var(--absolute-white, #fff);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}

.faq {
  margin-top: 150px;
  display: flex;
  border-radius: 12px;
  background: var(--absolute-white, #fff);
  justify-content: space-between;
}
.faq .faq_left {
  margin-top: 100px;
  margin-left: 100px;
  width: 408px;
}
.faq .faq_left h6 {
  align-self: stretch;
  color: var(--grey-15, #262626);
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 10px;
}
.faq .faq_left p {
  align-self: stretch;
  color: var(--grey-20, #333);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 50px;
}
.faq .faq_left button {
  padding: 18px 24px;
  color: var(--grey-15, #262626);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  border-radius: 8px;
  border: 1px solid var(--white-95, #f1f1f3);
  background: var(--absolute-white, #fff);
}
.faq .faq_right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 100px;
}
.faq .faq_right .faq_card {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-radius: 12px;
  margin-top: 100px;
  margin-right: 100px;
  padding: 50px;
  border: 1px solid var(--white-95, #f1f1f3);
  background: var(--absolute-white, #fff);
}
.faq .faq_right .faq_card .faq_cardd {
  flex: 1 0 0;
  display: flex;
  justify-content: space-between;
  color: var(--grey-15, #262626);
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}
.faq .faq_right .faq_card .faq_card_p {
  align-self: stretch;
  color: var(--grey-30, #4c4c4d);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.108px;
}
.faq .faq_right .faq_card .faq_card_3 {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 20px 30px;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid var(--white-95, #f1f1f3);
  background: var(--white-97, #f7f7f8);
}
.faq .faq_right .faq_card1 {
  display: flex;
  margin-right: 100px;
  padding: 50px;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--white-95, #f1f1f3);
  background: var(--absolute-white, #fff);
}
.faq .faq_right .faq_card1 h2 {
  color: var(--grey-15, #262626);
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

.footer {
  display: flex;
  padding: 100px 162px 30px 162px;
  flex-direction: column;
  align-items: flex-start;
  background: var(--absolute-white, #fff);
  margin-top: 150px;
  gap: 50px;
}
.footer .footer_top {
  display: flex;
  justify-content: space-between;
}
.footer .footer_top .footer_link {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer .footer_top .footer_link div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.footer .footer_top .footer_link div a {
  color: var(--grey-15, #262626);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.footer .footer_top .footer_link div a img {
  margin-right: 10px;
}
.footer .footer_top .footer_sub {
  display: flex;
  gap: 110px;
}
.footer .footer_top .footer_sub .footer_homee {
  display: flex;
  gap: 80px;
}
.footer .footer_top .footer_sub .footer_homee .footer_home {
  display: flex;
  flex-direction: column;
}
.footer .footer_top .footer_sub .footer_homee .footer_home a {
  color: var(--grey-35, #59595a);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 8px;
}
.footer .footer_top .footer_sub .footer_homee .footer_home .footer_a {
  color: var(--grey-15, #262626);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  align-self: stretch;
  margin-bottom: 14px;
}
.footer .footer_top .footer_sub .footer_social p {
  color: var(--grey-15, #262626);
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  align-self: stretch;
  margin-bottom: 14px;
}
.footer .footer_top .footer_sub .footer_social img {
  margin-right: 14px;
}
.footer .footer_bottom {
  margin-top: 100px;
}
.footer .footer_bottom p {
  width: 1860px;
  align-self: stretch;
  color: var(--grey-40, #656567);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

@media all and (max-width: 431px) {
  body .container {
    max-width: 400px;
  }
  body .container_2 {
    max-width: 400px;
  }
  .header .header__top {
    gap: 0px;
    justify-content: space-between;
    padding-left: 20x;
  }
  .header .header__top a {
    font-size: 14px;
  }
  .header .header__bottom {
    padding: 20px 0px;
    gap: 0px;
  }
  .header .header__bottom .header__bottom_start img {
    width: 40px;
    height: 40px;
  }
  .header .header__bottom .header__bottom_start a {
    display: none;
  }
  .header .header__bottom .header__bottom_end button {
    font-size: 14px;
  }
  .header .header__bottom .header__bottom_end .header__bottom_end_btn {
    width: 48px;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
  }
  .header .header__bottom .header__bottom_end .header__bottom_end_btn1 {
    width: 78px;
    height: 45px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .header .header__bottom .header__bottom_end .header__bottom_end_btn2 {
    background: var(--white-97, #f7f7f8);
  }
  .hero {
    flex-direction: column;
    gap: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .hero .hero_left h1 {
    width: 358px;
    font-size: 28px;
  }
  .hero .hero_right p {
    width: 358px;
    font-size: 14px;
  }
  .frame .frame_button {
    width: 220px;
  }
  .frame .frame_button button {
    font-size: 14px;
  }
  .frame .frame_card {
    flex-direction: column;
    padding: 20px;
    margin-top: 50px;
  }
  .frame .frame_card .frame_card_1 {
    width: 350px;
    padding: 30px 20px;
    align-items: center;
  }
  .frame .frame_card .frame_card_1 .frame_card_hero {
    padding: 20px;
  }
  .frame .frame_card .frame_card_1 .frame_card_hero .frame_card_hero_item p {
    font-size: 14px;
  }
  .frame .frame_card .frame_card_1 .frame_card_hero .frame_card_hero_item div {
    width: 290px;
    padding: 14px;
  }
  .faq {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 24px;
  }
  .faq .faq_left {
    margin-top: 0px;
    margin-left: 0px;
    width: 350px;
  }
  .faq .faq_left h6 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .faq .faq_left p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .faq .faq_left button {
    font-size: 14px;
    border-radius: 8px;
  }
  .faq .faq_right {
    gap: 20px;
    padding-bottom: 0px;
    padding-right: 20px;
  }
  .faq .faq_right img {
    width: 40px;
  }
  .faq .faq_right .faq_card {
    gap: 20px;
    border-radius: 12px;
    margin-top: 40px;
    margin-right: 0px;
    padding: 24px;
  }
  .faq .faq_right .faq_card .faq_cardd {
    font-size: 16px;
  }
  .faq .faq_right .faq_card .faq_card_p {
    font-size: 14px;
  }
  .faq .faq_right .faq_card .faq_card_3 {
    padding: 12px 20px;
    color: var(--grey-20, #333);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
  }
  .faq .faq_right .faq_card1 {
    margin-right: 0px;
    padding: 20px 24px;
  }
  .faq .faq_right .faq_card1 h2 {
    width: 181px;
    font-size: 16px;
  }
  .footer {
    width: 400px;
    padding: 50px 0px 0px 0px;
    margin-top: 50px;
    gap: 0px;
  }
  .footer .footer_top {
    flex-direction: column;
  }
  .footer .footer_top .footer_link {
    gap: 40px;
  }
  .footer .footer_top .footer_link div {
    gap: 12px;
  }
  .footer .footer_top .footer_link div a {
    font-size: 14px;
  }
  .footer .footer_top .footer_link div a img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }
  .footer .footer_top .footer_sub {
    margin-top: 24px;
    display: inline-block;
    gap: 30px;
  }
  .footer .footer_top .footer_sub .footer_homee {
    gap: 30px;
  }
  .footer .footer_top .footer_sub .footer_homee .footer_home {
    display: flex;
    flex-direction: column;
  }
  .footer .footer_top .footer_sub .footer_homee .footer_home a {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .footer .footer_top .footer_sub .footer_homee .footer_home .footer_a {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .footer .footer_top .footer_sub .footer_social {
    margin-top: 24px;
  }
  .footer .footer_top .footer_sub .footer_social p {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .footer .footer_top .footer_sub .footer_social img {
    margin-right: 14px;
  }
  .footer .footer_bottom {
    margin-top: 40px;
  }
  .footer .footer_bottom p {
    width: 400px;
    font-size: 14px;
  }
}
@media all and (min-width: 431px) {
  .header .header__bottom .header__bottom_end .header__bottom_end_btn2 {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */