.faq {
  margin-top: 150px;
  display: flex;
  border-radius: 12px;
  background: var(--absolute-white, #fff);
  justify-content: space-between;
  .faq_left {
    margin-top: 100px;
    margin-left: 100px;
    width: 408px;
    h6 {
      align-self: stretch;
      color: var(--grey-15, #262626);
      font-size: 48px;
      font-weight: 600;
      line-height: 120%;
      margin-bottom: 10px;
    }
    p {
      align-self: stretch;
      color: var(--grey-20, #333);
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 50px;
    }
    button {
      padding: 18px 24px;
      color: var(--grey-15, #262626);
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      line-height: 150%;
      border-radius: 8px;
      border: 1px solid var(--white-95, #f1f1f3);
      background: var(--absolute-white, #fff);
    }
  }
  .faq_right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 100px;
    .faq_card {
      display: flex;
      flex-direction: column;
      gap: 50px;
      border-radius: 12px;
      margin-top: 100px;
      margin-right: 100px;
      padding: 50px;
      border: 1px solid var(--white-95, #f1f1f3);
      background: var(--absolute-white, #fff);
      .faq_cardd {
        flex: 1 0 0;
        display: flex;
        justify-content: space-between;
        color: var(--grey-15, #262626);
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
      }
      .faq_card_p {
        align-self: stretch;
        color: var(--grey-30, #4c4c4d);
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.108px;
      }
      .faq_card_3 {
        display: flex;
        align-items: center;
        align-self: stretch;
        padding: 20px 30px;
        justify-content: space-between;
        border-radius: 8px;
        border: 1px solid var(--white-95, #f1f1f3);
        background: var(--white-97, #f7f7f8);
      }
    }
    .faq_card1 {
      display: flex;
      margin-right: 100px;
      padding: 50px;
      align-items: center;
      justify-content: space-between;
      align-self: stretch;
      border-radius: 12px;
      border: 1px solid var(--white-95, #f1f1f3);
      background: var(--absolute-white, #fff);
      h2 {
        color: var(--grey-15, #262626);
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
      }
    }
  }
}
