*{
    margin: 0;
    padding: 0;
    font-family: Be Vietnam Pro;
    font-style: normal;
}
body{
    background: var(--white-97, #F7F7F8);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 16px;
}
.container_2{
    width: 100%;
    max-width: 1596px;
    margin: 0 auto;
    padding: 0 16px;
}

